*{
    box-sizing: border-box;
   
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/landingpage.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.name{
    width: 95%;
    text-align: center;
    color: white;
    background: rgb(7, 7, 7);
    margin: 12% auto;
    padding: 70px 0;
    border-bottom: 0 0 20px rgb(0, 0, 0, 0.5);
    opacity: 0.6;
    border-radius: 20px;
}
.name h1{
   font-size: xx-large;
   color: white;

   font-weight: bold;
}
.name p{
    width: 100%;
    font-size: x-large;

}
.btn{
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: -12%;
}
.button{
    text-decoration: none;
    font-size: 1.25rem;
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border-radius: 20px;
    
    
}
.button:hover{
    background: yellow;
    color: black;
    transition: 0.78s;
}
@media only screen and (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        background-image: url("images/landingpage.jpg") ;
        background-repeat: repeat-y;
        background-size: cover;
    
        
    }
    
    
    .btn{
        margin-left: 150px;
    }

  }

@media only screen and(max-width:960px) {
    body{
        margin: 0;
        padding: 0;
        background-image: url("images/landingpage.jpg") ;
        background-repeat: repeat-y;
        
    }
    

}