body{
    background-image: url("images/landingpage.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    width: auto;
    text-align: center;
    color: white;
    background: rgb(7, 7, 7);
    margin: 12% auto;
    padding: 70px 0;
    border-bottom: 0 0 20px rgb(0, 0, 0, 0.5);
    opacity: 0.6;
    border-radius: 20px;
}
.name h1{
   font-size: xx-large;
   color: white;
   font-size: xx-large;
   font-weight: bold;
}
.name p{
    width: 1000px;
    margin-left: 100px;
    font-size: x-large;

}
.button{
    text-decoration: none;
    font-size: 1.25rem;
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border-radius: 20px;
    box-shadow: 4px 10px 30px;
    
}
